body {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    padding: 0 2rem 1rem;
    border-bottom: 4px solid black;
    width: fit-content;
    margin: 2rem auto;
}

.board

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0;
}

.cell {
    width: 4rem;
    height: 4rem;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
